<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget-pk-dev" value="https://www.myget.org/F/pk-development/api/v3" />
    <add key="Localhost" value="C:\Projects\Temp NuGet Packages" />
  </packageSources>
</configuration>